#second-li{
	background: gold;
}
.bog{
	background-color: antiquewhite;
	font-size: 20px;
}

#scrollable{
	width:70%; 
	height: 100px;
	overflow:scroll;
	background-color: aqua;
	border: 1px solid gray;
}